body {
  background: linear-gradient(110deg, #6279a5, #edf1f2, #6b86bb);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: #fff;
}

.resume h1, .resume h2 {
  text-align: left;
}

.resume p, .resume ul li {
  text-align: left;
}

li, p {
  list-style-type: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

nav ul li {
  list-style-type: none;
  background: linear-gradient(110deg, #4b678f, #1b6ab6, #4b678f); /* changed gradient colors */
  float: right;
  border-radius: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: white;
}

nav ul li a:hover {
  background-color: #fff; /* changed hover background color */
  color: #000; /* changed hover text color */
  border-radius: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.white {
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.blue {
  margin: 20px;
  background: linear-gradient(110deg, #4b678f, #1b6ab6, #4b678f); /* changed gradient colors */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.blue2 {
  margin: 20px;
  background: linear-gradient(110deg, #4b678f, #1b6ab6, #4b678f); /* changed gradient colors */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

#goldfish, #tombrady, iframe, #lion, #logo {
  border-radius: 8px; /* unified border radius */
  padding: 2px;
  width: 31.25em;
  height: 18.75em;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s;
  display: block;
  margin: 0 auto;
}

#tombrady1:hover, #lion:hover, iframe:hover, #lion:hover, #logo:hover {
  transform: scale(1.1);
}

p {
  text-align: center;
}

