@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background: rgb(181, 137, 214);
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1, h2, h3 {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  text-align: center;
}

.resume h1, .resume h2 {
  text-align: left;
}

.resume p, .resume ul li {
  text-align: left;
}

h1, h2, h3 {
  color: rgb(128, 0, 32);
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li, p {
  list-style-type: none;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 2%;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ffd700;
}

.fixed-width {
    width: 300px; 
    padding: 10px;
}


.resume {
  background-color: #fff;
  padding: 2%;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  margin: 2% auto;
  max-width: 800px;
}

.Brady{
    background-color: #fff;
    padding: 2%;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    margin: 2% auto;
    max-width: 800px;
}

.animals {
  background-color: #fff;
  padding: 2%;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  margin: 2% auto;
  max-width: 800px;
}

img {
    display: block;
    margin: 2% auto;
    max-width: 100%;
    height: auto;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

iframe {
  display: block;
  margin: 0 auto;
  width: 90%;
}

